
                              <tr>
                                <td align=center>
                                  <table class=t157 role=presentation cellpadding=0 cellspacing=0
                                    style="Margin-left:auto;Margin-right:auto;">
                                    <tr>
                                      <td width=462 class=t156 style="width:462px;">
                                        <table class=t155 role=presentation cellpadding=0 cellspacing=0 width=100%
                                          style="width:100%;">
                                          <tr>
                                            <td class=t154 style="border-top:1px solid #1B3F6D;">
                                              <table role=presentation width=100% cellpadding=0 cellspacing=0
                                                style="width:100% !important;">
                                                <tr>
                                                  <td>
                                                    <div class=t109
                                                      style="mso-line-height-rule:exactly;mso-line-height-alt:21px;line-height:21px;font-size:1px;display:block;">
                                                      &nbsp;&nbsp;
                                                    </div>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td align=center>
                                                    <table class=t113 role=presentation cellpadding=0 cellspacing=0
                                                      style="Margin-left:auto;Margin-right:auto;">
                                                      <tr>
                                                        <td width=420 class=t112 style="width:420px;">
                                                          <table class=t111 role=presentation cellpadding=0
                                                            cellspacing=0 width=100% style="width:100%;">
                                                            <tr>
                                                              <td class=t110
                                                                style="overflow:hidden;border-radius:8px 8px 8px 8px;">
                                                                <p class=t108
                                                                  style="margin:0;Margin:0;font-family:Poppins,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:18px;font-weight:500;font-style:normal;font-size:10px;text-decoration:none;text-transform:none;direction:ltr;color:#777777;text-align:center;mso-line-height-rule:exactly;mso-text-raise:2px;">
                                                                  116
                                                                  Harley
                                                                  Street,
                                                                  London,
                                                                  W1G
                                                                  7JL
                                                                </p>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                                <!--[if !mso]>-->
                                                <tr>
                                                  <td>
                                                    <div class=t114
                                                      style="mso-line-height-rule:exactly;font-size:1px;display:none;">
                                                      &nbsp;&nbsp;
                                                    </div>
                                                  </td>
                                                </tr>
                                                <!--<![endif]-->
                                                <tr>
                                                  <td align=center>
                                                    <table class=t130 role=presentation cellpadding=0 cellspacing=0
                                                      style="Margin-left:auto;Margin-right:auto;">
                                                      <tr>
                                                        <td width=462 class=t129 style="width:640px;">
                                                          <table class=t128 role=presentation cellpadding=0
                                                            cellspacing=0 width=100% style="width:100%;">
                                                            <tr>
                                                              <td class=t127
                                                                style="overflow:hidden;border-radius:16px 16px 16px 16px;">
                                                                <div class=t126 style="width:100%;text-align:center;">
                                                                  <div class=t125 style="display:inline-block;">
                                                                    <table class=t124 role=presentation cellpadding=0
                                                                      cellspacing=0 align=center valign=middle>
                                                                      <tr class=t123>
                                                                        <td>
                                                                        </td>
                                                                        <td class=t118 width=137 valign=middle>
                                                                          <table role=presentation width=100%
                                                                            cellpadding=0 cellspacing=0 class=t117
                                                                            style="width:100%;">
                                                                            <tr>
                                                                              <td class=t116
                                                                                style="overflow:hidden;border-radius:8px 8px 8px 8px;">
                                                                                <p class=t115
                                                                                  style="margin:0;Margin:0;font-family:Poppins,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:18px;font-weight:500;font-style:normal;font-size:10px;text-decoration:none;text-transform:none;direction:ltr;color:#777777;text-align:center;mso-line-height-rule:exactly;mso-text-raise:2px;">
                                                                                  support@sendscript.com
                                                                                </p>
                                                                              </td>
                                                                            </tr>
                                                                          </table>
                                                                        </td>
                                                                        <td class=t122 width=131 valign=middle>
                                                                          <table role=presentation width=100%
                                                                            cellpadding=0 cellspacing=0 class=t121
                                                                            style="width:100%;">
                                                                            <tr>
                                                                              <td class=t120
                                                                                style="overflow:hidden;border-radius:8px 8px 8px 8px;">
                                                                                <p class=t119
                                                                                  style="margin:0;Margin:0;font-family:Poppins,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:18px;font-weight:500;font-style:normal;font-size:10px;text-decoration:none;text-transform:none;direction:ltr;color:#777777;text-align:center;mso-line-height-rule:exactly;mso-text-raise:2px;">
                                                                                  +442081545588
                                                                                </p>
                                                                              </td>
                                                                            </tr>
                                                                          </table>
                                                                        </td>
                                                                        <td>
                                                                        </td>
                                                                      </tr>
                                                                    </table>
                                                                  </div>
                                                                </div>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td align=center>
                                                    <table class=t146 role=presentation cellpadding=0 cellspacing=0
                                                      style="Margin-left:auto;Margin-right:auto;">
                                                      <tr>
                                                        <td width=462 class=t145 style="width:640px;">
                                                          <table class=t144 role=presentation cellpadding=0
                                                            cellspacing=0 width=100% style="width:100%;">
                                                            <tr>
                                                              <td class=t143
                                                                style="overflow:hidden;border-radius:16px 16px 16px 16px;">
                                                                <div class=t142 style="width:100%;text-align:center;">
                                                                  <div class=t141 style="display:inline-block;">
                                                                    <table class=t140 role=presentation cellpadding=0
                                                                      cellspacing=0 align=center valign=middle>
                                                                      <tr class=t139>
                                                                        <td>
                                                                        </td>
                                                                        <td class=t134 width=99 valign=middle>
                                                                          <table role=presentation width=100%
                                                                            cellpadding=0 cellspacing=0 class=t133
                                                                            style="width:100%;">
                                                                            <tr>
                                                                              <td class=t132
                                                                                style="overflow:hidden;border-radius:8px 8px 8px 8px;">
                                                                                <a href="https://sendscript.com/privacy-policy"
                                                                                  target="_blank" class=t131
                                                                                  style="margin:0;Margin:0;font-family:Poppins,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:18px;font-weight:500;font-style:normal;font-size:10px;text-decoration:none;text-transform:none;direction:ltr;color:#777777;text-align:center;mso-line-height-rule:exactly;mso-text-raise:2px;">
                                                                                  Privacy
                                                                                  Policy
                                                                                </a>
                                                                              </td>
                                                                            </tr>
                                                                          </table>
                                                                        </td>
                                                                        <td class=t138 width=138 valign=middle>
                                                                          <table role=presentation width=100%
                                                                            cellpadding=0 cellspacing=0 class=t137
                                                                            style="width:100%;">
                                                                            <tr>
                                                                              <td class=t136
                                                                                style="overflow:hidden;border-radius:8px 8px 8px 8px;">
                                                                                <a href="https://sendscript.com/terms-and-conditions" target="_blank" class=t135
                                                                                  style="margin:0;Margin:0;font-family:Poppins,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:18px;font-weight:500;font-style:normal;font-size:10px;text-decoration:none;text-transform:none;direction:ltr;color:#777777;text-align:center;mso-line-height-rule:exactly;mso-text-raise:2px;">
                                                                                  Terms
                                                                                  and
                                                                                  Conditions
                                                                                </a>
                                                                              </td>
                                                                            </tr>
                                                                          </table>
                                                                        </td>
                                                                        <td>
                                                                        </td>
                                                                      </tr>
                                                                    </table>
                                                                  </div>
                                                                </div>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                                <!--[if !mso]>-->
                                                <tr>
                                                  <td>
                                                    <div class=t148
                                                      style="mso-line-height-rule:exactly;font-size:1px;display:none;">
                                                      &nbsp;&nbsp;
                                                    </div>
                                                  </td>
                                                </tr>
                                                <!--<![endif]-->
                                                <tr>
                                                  <td align=center>
                                                    <table class=t152 role=presentation cellpadding=0 cellspacing=0
                                                      style="Margin-left:auto;Margin-right:auto;">
                                                      <tr>
                                                        <td width=365 class=t151 style="width:365px;">
                                                          <table class=t150 role=presentation cellpadding=0
                                                            cellspacing=0 width=100% style="width:100%;">
                                                            <tr>
                                                              <td class=t149
                                                                style="overflow:hidden;border-radius:8px 8px 8px 8px;">
                                                                <p class=t147
                                                                  style="margin:0;Margin:0;font-family:Poppins,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;line-height:18px;font-weight:500;font-style:normal;font-size:10px;text-decoration:none;text-transform:none;direction:ltr;color:#777777;text-align:center;mso-line-height-rule:exactly;mso-text-raise:2px;">
                                                                  sendscript
                                                                  &reg;
                                                                  is
                                                                  a
                                                                  registered
                                                                  trademark
                                                                  of
                                                                  Msmb
                                                                  Healthcare
                                                                  Limited.
                                                                </p>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>